/* стили для формы */
.history {
    clear: both;
}

table {
    margin: 0 40px;
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 10px 20px;
    color: black;
}

th,
td {
    border: 2px solid black;
    text-align: center;
    font-weight: normal;
    padding: 12px;
}

tr:hover td {
    background: #CCDDFF;
}

th {
    font-weight: bold;
}