<div class="history">

    <table>

        <tr>
            <th>№</th>
            <th>Карта плательщика</th>
            <th>Карта получателя</th>
            <th>Сумма</th>
            <th>Дата выполнения</th>
            <th>Действие</th>
        </tr>

        <tr *ngFor="let transfer of transfers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ transfer.num1 }}</td>
            <td>{{ transfer.num2 }}</td>
            <td>{{ transfer.sum | number: '1.0-2' }} руб.</td>
            <td>{{ transfer.date | date: 'dd.MM.yyyy' }}</td>
            <td>
                <button class="repeat" (click)="repeat(transfer)">повторить</button>
                <button class="delete" (click)="delete(transfer)">удалить</button>
            </td>
        </tr>

    </table>

</div>