<form [formGroup]="p2pForm">
    <fieldset class="card1">
        <p>карта плательщика</p>
        <div class="block" *ngIf="p2pForm?.controls?.cardNumber">
            <label>номер</label>
            <input name='cardNumber' formControlName='cardNumber'/>
            <!-- <input type="text" id="ccn" maxlength="4" placeholder="0000"/>
            <input type="text" id="ccn" maxlength="4" placeholder="0000"/>
            <input type="text" id="ccn" maxlength="4" placeholder="0000"/> -->
        </div>
        <div class="block">
            <label>ФИО держателя</label>
            <input type="text" id="FIO" />
        </div>
        <div class="block">
            <label>активна до</label>
            <select id="month">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select id="month">
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="card2">
        <p>карта получателя</p>
        <div class="block">
            <label>номер</label>
            <input type="text" id="ccn" maxlength="4" placeholder="0000" />
            <input type="text" id="ccn" maxlength="4" placeholder="0000" />
            <input type="text" id="ccn" maxlength="4" placeholder="0000" />
            <input type="text" id="ccn" maxlength="4" placeholder="0000" />
        </div>
    </fieldset>
</form>
<input type="text" id="sum" maxlength="9" placeholder="СУММА" />
<button type="submit">ПЕРЕВЕСТИ</button>