<form class="cards" [formGroup]="myForm" (ngSubmit)="onSubmit(); form.reset()" #form="ngForm">

    <fieldset class="card1">

        <p>карта плательщика</p>

        <div class="block" *ngIf="myForm?.controls?.cardNumber1">
            <label>номер</label>
            <input name='cardNumber1' [(ngModel)]="num1" formControlName='cardNumber1' />
        </div>

        <div class="block" *ngIf="myForm?.controls?.fio">
            <label>ФИО держателя</label>
            <input class="fio" pattern="[a-zA-Z ]*" name='fio' formControlName='fio' placeholder="Ivan Petrov" />
        </div>

        <div class="block">
            <label>активна до</label>
            <select class="month" formControlName='month' [(ngModel)]="month">
                <option *ngFor="let m of arrayMonth" [value]="m">
                    {{ m }}
                </option>
            </select>
            <select class="year" formControlName='year' [(ngModel)]="year">
                <option *ngFor="let y of arrayYear" [value]="y">
                    {{ y }}
                </option>
            </select>
        </div>
    </fieldset>

    <fieldset class="card2">

        <p>карта получателя</p>

        <div class="block" *ngIf="myForm?.controls?.cardNumber2">
            <label>номер</label>
            <input [(ngModel)]="num2" formControlName='cardNumber2' />
        </div>

    </fieldset>

    <div class="actions" *ngIf="myForm?.controls?.sum">
        <input class="sum" name="sum" [(ngModel)]="sum" formControlName='sum' maxlength="6" placeholder="СУММА" />
        <button type="submit" [disabled]="myForm.invalid">ПЕРЕВЕСТИ</button>
    </div>

</form>