<form class="cards" [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <fieldset class="card1">

        <p>карта плательщика</p>

        <div class="block" *ngIf="myForm?.controls?.cardNumber1">
            <label>номер</label>
            <input formControlName='cardNumber1' placeholder="0000 0000 0000 0000" />
        </div>

        <div class="block" *ngIf="myForm?.controls?.fio">
            <label>ФИО держателя</label>
            <input class="fio" pattern="[a-zA-Z ]*" formControlName='fio' placeholder="Alex Timoshenko" />
        </div>

        <div class="block">
            <label>активна до</label>
            <select class="month" formControlName='month'>
                <option *ngFor="let m of arrayMonth" [value]="m">
                    {{ m }}
                </option>
            </select>
            <select class="year" formControlName='year'>
                <option *ngFor="let y of arrayYear" [value]="y">
                    {{ y }}
                </option>
            </select>
        </div>
    </fieldset>

    <fieldset class="card2">

        <p>карта получателя</p>

        <div class="block" *ngIf="myForm?.controls?.cardNumber2">
            <label>номер</label>
            <input formControlName='cardNumber2' placeholder="0000 0000 0000 0000" />
        </div>

    </fieldset>

    <div class="actions" *ngIf="myForm?.controls?.sum">
        <input class="sum" formControlName='sum' maxlength="6" placeholder="СУММА" />
        <button type="submit" [disabled]="myForm.invalid">ПЕРЕВЕСТИ</button>
    </div>

</form>